.services {
  padding: 5rem 2rem;
  background: black;
  color: #e4e4e6;
  text-align: left;
}

.services h2,p {
  font-size: 2.6rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}

.highlight {
  color: #e23b33;
  font-weight: 900;
}

.subtitle {
  color: #bdbdc2;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2.5rem;
}

.card {
  background: #191a20;
  border-radius: 14px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.22);
  padding: 2.5rem 2rem 2rem 2rem;
  transition: transform 0.3s, box-shadow 0.3s;
  min-height: 330px;
}

.card:hover {
  transform: translateY(-6px) scale(1.025);
  box-shadow: 0 6px 32px rgba(0,0,0,0.32);
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
  color: #fff;
}

.desc {
  font-size: 1rem;
  color: #bdbdc2;
  margin-bottom: 1.1rem;
  text-align: left;
}

.card ul {
  padding-left: 1.2rem;
  color: #e4e4e6;
}

.card li {
  margin-bottom: 0.5rem;
  font-size: 1.08rem;
  line-height: 1.5;
}
